/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Generic CSS */

@font-face {
    font-family: TG-Neighbor;
    src: url("TG-Neighbor.otf") format("opentype");
}

body {
    font-size: clamp(0.5rem, 4vw, 1.5rem);
}

h1, h2, h3 {
    margin-bottom: clamp(0.5rem, 3vh, 2rem);
    font-size: 2.5em;
    font-family: 'TG-Neighbor', sans-serif;
    font-weight: normal;
}

h2 {
    margin-top: 0.8em;
}

h3 {
    margin-bottom: clamp(0.5rem, 2vh, 2rem);
    font-size: 1.5em;
    font-family: 'TG-Neighbor', sans-serif;
    font-weight: normal;
}

p, a {
    font-family: urw-form-condensed, sans-serif;
    font-weight: 400;
    font-style: normal;
    color: currentColor;
}

p {
    margin-top: 0;
    line-height: 1.3;
    margin-bottom: 1em;
}

img {
    max-width: 100%;
}

body {
    background-image: url("img/background.webp");
    margin: 0;
}

header, main {
    max-width: 1200px;
    width: 90%;
    margin: clamp(0.5rem, 3.5vw, 2rem) auto clamp(0.5rem, 5vw, 2rem);
}

/* Specific sections */

header nav {
    display: grid;
    grid-template-columns: auto min-content min-content min-content 35px 35px;
    gap: 25px;
}

#logo {
    height: clamp(50px, 8vw, 120px);
}

header nav a {
    text-decoration: none;
    align-content: center;
}

header nav img {
    height: 100%;
}

#intro h2 {
    display: none;
}

ul.locations {
    font-size: 1.5em;
    font-family: 'TG-Neighbor', sans-serif;
    margin-bottom: 0.5em;
}

ul.locations li {
    display: flex;
    align-items: center;
    margin-bottom: 0.2em;
}

/* Line between location and date */
ul.locations li::before {
    content: "";
    flex-grow: 1;
    height: 0.1em;
    background: currentColor;
    margin: 0 5px;
    order: 1;
}

ul.locations .date {
  order: 2;              
  white-space: nowrap;
}

#programme h2 {
    display: none;
}

#programme nav {
    margin-top: clamp(0.5rem, 4vh, 3rem);
    margin-bottom: 1em;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1.5vw;
}

#programme img {
    width: 100%;
    display: block;
    border-radius: 1vw;
    transition: all 0.2s ease;
}

#programme img:hover {
    transform: scale(1.05);
}

article {
    display: grid;
    grid-template-columns: 25% auto;
    column-gap: 3vw;
}

article > h2 > span {
    display: block;
    font-size: 0.5em;
    white-space: nowrap;
}

article > h2, article > .locations, article > .info {
    grid-column: span 2;
}

article img {
    margin-bottom: 3vh;
}

.info {
    font-style: italic;
}

#supporters {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2em;
    margin-top: 1em;
}

#supporters li {
    align-content: center;
    text-align: center;
}

#supporters img {
    max-height: 100px;
}

footer {
    padding: 2em;
    color: white;
    background-color: black;
    text-align: center;
}

#afterlife {
    grid-template-columns: 15% auto;
}

/* Small Screen Grid Adjustments */

@media only screen and (orientation: portrait) {
    body {
        font-size: clamp(0.5rem, 4vw, 3rem);
    }

    #programme nav {
        grid-template-columns: 1fr 1fr 1fr;
    }

    article {
        grid-template-columns: 40% auto;
    }

    article > * {
        grid-column: span 2;
    }

    article > img {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }

    article#afterlife > img, article#batman > img {
        width: 60%
    }

    #supporters {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    #supporters li {
        grid-column: span 2;
    }

    #supporters li:last-of-type {
        grid-column-end: -2;
    }
}
